[user]
	name = Leon Krieg
	email = info@madcow.dev
	signingkey = 327A4F984BF5BA9B
[init]
	defaultBranch = main
[core]
	excludesFile = $HOME/.gitignore
[commit]
	gpgsign = true
[alias]
	amend = commit --amend --no-edit
	unstage = reset HEAD --
	last = log -1 HEAD
